<a href="https://colab.research.google.com/github/hakyung-park/BAEKJOON/blob/main/Day_3_(07_06_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [2739번]

### 문제
- N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다. 

### 입력 
- 첫째 줄에 N이 주어진다. N은 1보다 크거나 같고, 9보다 작거나 같다.  

### 출력
- 출력형식과 같게 N X 1 부터 N X 9 까지 출력한다.

In [ ]:
n = int(input())
for i in range(1,10):
    print(str(n)+" * "+str(i)+" = "+str(n*i))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

---
# [2438번] 별 찍기 - 1

### 문제
- 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제 

### 입력 
- 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.  

### 출력
- 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.

In [13]:
n = int(input())
for i in range(1,n+1):
    print('*'*i)

3
*
**
***

---
# [9498번] 시험성적

### 문제
- 시험 점수를 입력받아 90 ~ 100점은 A, 80 ~ 89점은 B, 70 ~ 79점은 C, 60 ~ 69점은 D, 나머지 점수는 F를 출력하는 프로그램을 작성하시오.

### 입력 
- 첫째 줄에 시험 점수가 주어진다. 시험 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다. 

### 출력
- 시험 성적을 출력한다.

In [16]:
a = int(input())
if a >= 0 and a <= 100:
    if a >= 90: 
        print("A")
    elif a >= 80 and a <= 89:
        print("B")
    elif a >= 70 and a <= 79:
        print("C")
    elif a >= 60 and a <= 69:
        print("D")
    else:
        print("F")

89
B

---
# [2741번] N 찍기

### 문제
- 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

### 입력 
- 첫째 줄에 100,000보다 작거나 같은 자연수 N이 주어진다.

### 출력
- 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [17]:
n = int(input())
for i in range(1,n+1):
    print(i)

5
1
2
3
4
5