<a href="https://colab.research.google.com/github/hakyung-park/BAEKJOON/blob/main/Day_1_(06_30_2021).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# 문제 1 
1,000보다 작은 자연수 중에 3 또는 5의 배수들의 합은?
- 정답: 233168

In [ ]:
baesu = []

for i in range(1,1000):
    if (i % 3 == 0) or (i % 5 == 0):
        baesu.append(i)
    else: continue

print(sum(baesu))

233168

---
# 문제 2
피보나치 수열 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...
이 중 짝수이면서 4백만 이하인 항들의 합은?
- 정답: 4613732

In [ ]:
fibonacci = [1, 2]
for i in range(1000):    # range(1000)와 같이 rough하게 한 부분 어떻게 수정해야 할까? 두 for문을 합칠수는 없나?
    add = fibonacci[-1] + fibonacci[-2]    
    if add < 4000000:
        fibonacci.append(add)
    else: continue

print(fibonacci)


result = []
for i in range(len(fibonacci)):
    if fibonacci[i] % 2 == 0:
        result.append(fibonacci[i])
    else: continue

print(sum(result))

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]
4613732

In [ ]:
result = 0
calA = 1
calB = 1
calEx = 0

while calB <= 4000000:
    if calB % 2 == 0:
        result += calB                 
       
    calEx = calB        
    calB = calA + calB        
    calA = calEx      
                
print(result)

In [ ]:
# index 확인
print(fibonacci[31])
print(fibonacci[-1])
range(len(fibonacci)-1)

3524578
3524578

range(0, 31)

---
# 문제 3
문자열 중 가장 많이 사용된 알파벳을 출력하라  
단, 대소문자는 구분하지 않는다  
동률이 있는 경우, 알파벳 순으로 출력할 것  

문자열) "This is a sample Program mississippi river"  
문자열) "abcdabcdababccddcd"

- 정답: i 7번 & c 5번

In [ ]:
text1 = "This is a sample Program mississippi river"
text2 = "abcdabcdababccddc"

In [ ]:
text1 = text1.lower().replace(' ', '')
text2 = text2.lower().replace(' ', '')
print(text1, text2)

thisisasampleprogrammississippiriver abcdabcdababccddcd

In [ ]:
print(chr(65))  # A
print(chr(90))  # Z
print(chr(97))  # a
print(chr(122)) # z

A
Z
a
z

In [ ]:
alphabet = {}
for i in range(97, 123):   # a 부터 z 까지 dict 만들기
    alphabet[chr(i)] = 0

print(alphabet)

{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0, 'h': 0, 'i': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 0, 'n': 0, 'o': 0, 'p': 0, 'q': 0, 'r': 0, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 0}

In [ ]:
print(alphabet[chr(100)])
print(chr(100))
print(alphabet)

0
d
{'a': 0, 'b': 0, 'c': 0, 'd': 0, 'e': 0, 'f': 0, 'g': 0, 'h': 0, 'i': 0, 'j': 0, 'k': 0, 'l': 0, 'm': 0, 'n': 0, 'o': 0, 'p': 0, 'q': 0, 'r': 0, 's': 0, 't': 0, 'u': 0, 'v': 0, 'w': 0, 'x': 0, 'y': 0, 'z': 0}

In [ ]:
i = 0
print(text1[i])
j = 97
print(alphabet[chr(j)])

t
116
0

In [ ]:
for i in range(len(text1)):
    print(text1[i])
    for j in range(97, 123):
        if alphabet[chr(j)] == text1[i]:
            alphabet[chr(j)] += 1
            print(alphabet)
        else: continue

t
h
i
s
i
s
a
s
a
m
p
l
e
p
r
o
g
r
a
m
m
i
s
s
i
s
s
i
p
p
i
r
i
v
e
r